@import url('https://fonts.googleapis.com/css?family=Quicksand|Bree+Serif|Josefin+Sans|Anton|Libre+Baskerville|Poppins|Lato|Raleway|Modak|Roboto+Condensed|Lora|Noto+Sans+TC|Open+Sans&display=swap');

/* Reset Default Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Import Fonts */
/* 
font-family: 'Lora', serif;
font-family: 'Noto Sans TC', sans-serif;
font-family: 'Open Sans', sans-serif; 
*/

body{
  background-image: linear-gradient(to bottom, rgb(253, 254, 255));
  background-color: rgba(70, 75, 99, 0.836);
  
}

/* Default 1ine-height to 20pixels  */
html {
  font: 18px/1 'Open Sans';
  min-height: 100vh;
  --navbar-background-color: rgba(13, 3, 102, 0.75);
  --navbar-text-color: white;
  --form-background-color: rgba(13, 3, 102, 0.75);
  --form-border-color: rgba(3, 60, 87, 0.9);

  --post-bgcolor: rgb(197, 197, 166); 
  --post-genre-bgcolor: rgb(134, 134, 114);
  --post-user-since-bgcolor: rgb(134, 134, 114);
  --user-link-color: rgb(255, 255, 255);


}

.main-header{
  text-align: center;
}

a {
  text-decoration: none;
}

p {
 font-family: 'Roboto Condensed', sans-serif; 
}

h2{
  font-family: 'Poppins','Times New Roman', Times, serif;
  padding-bottom: 10px;
}

.main-footer {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 2rem .5rem;
  padding: 2rem .5rem;
}

.main-navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  border: 2px solid black;
  margin: 1rem 0;
}

.main-navbar__link-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.main-navbar__link{
  padding: .5rem;
  margin: 0 1.5rem;
}

.main-navbar__link:hover {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.15);
  transition: box-shadow 0.3s ease-in-out;
}

.main-navbar__link-logo{
  padding: 1rem;
}
/* ---------------------------------------- */
/* -----------------POSTS------------------ */
.avatar{
  width: 150px;
  height: 150px;
  border: 2px solid black;
}
.main__post-category-container{
  text-align: center;
  background-color: var(--post-genre-bgcolor);
  border: 3px black;
  border-style: solid solid none solid;
  border-radius: 10px 10px 0 0;
  width: 300px;
}
.main__post-category-container:hover{
  background-color: rgb(252, 252, 252);
  height: 1.8rem;
  transition-duration: .5s;
}


.main__post-container{
  display: grid;
  grid-template-areas:  
    'title title title date'
    'avatar text text text'
    'user text text text'
    'since text text text'
    'tags tags tags tags';
  
  background-color: var(--post-bgcolor);
  box-shadow: 10px 10px 10px rgba(41, 41, 44, 0.527);
  border: 3px solid black;
  border-radius: 0px 10px 10px 10px;
  margin-bottom: 25px;
}


.main__post-date{
  grid-area: date;
  font-family: 'Anton', sans-serif; 
  text-align: center;
  font-size: 2rem;
  margin:auto;
  margin-right: 10px;
  
  

}
.main__post-avatar{
  grid-area: avatar;
  width: auto;
  height: auto;
  margin-left:10px; 
  background-color: var(--post-user-since-bgcolor);
  
}

.main__post-since{
  grid-area: since;
  margin-left: 10px;
  text-align: center;
  background-color: var(--post-user-since-bgcolor);
}
.main__post-since > p {
  color:white;
}

.main__post-user{
  grid-area: user;
  text-align: center;
  font-size: 1.2rem;
  color: var(--user-link-color);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
  background-color: var(--post-user-since-bgcolor);
  margin-left: 10px;
}
.main__post-user > a:visited, .main__post-user > a:link{
  color: var(--user-link-color);
}
.main__post-user > a:hover{
  color:rgb(210, 233, 10);
  transition-duration: .25s;
}
.main__post-text{
  grid-area: text;
  font-family: 'Lato', sans-serif; 
  background-color: rgb(244, 250, 220);
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.main__post-tag-container{
  grid-area: tags;
  margin: auto;
  list-style-type: none;
  overflow:hidden;
  
}
.main__post-tag{
  grid-area: tags;
  float: left;
  padding: .5rem .5rem;
  
}

.main__post-tag:hover{
  background-color: black;
  color:white;
}

.main__post-title{
  grid-area: title;
  text-align: center;
  font-size: 2.1em;
  font-weight: bold;
  padding: 5px;
  padding-left: 40px;
  padding-bottom: 0;
  margin: 10px;
  background-color:  rgb(244, 250, 220);
  border: black solid 3px;
  border-radius: 5px;
  font-family: 'Josefin Sans', sans-serif;
  /* color: rgb(243, 189, 89); */
}


.main__posts-header {
  padding: .5rem 0;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  min-width: 10rem;
  max-width: 55rem;
  min-height: 100vh;
}

/* ----------------------------*/
/* --------Post Form --------- */

.form__post-container{
  display: grid;
  grid-template-columns: .4fr 1fr .4fr 1fr;
  grid-template-areas:  'header header header header'
                        'user_desc user token_desc token'
                        
                        'title_desc title category_desc category'
                        
                        'text_desc text text text'
                        'tags_desc tags tags tags' ;
         
  background-color: rgb(126, 178, 221);
  /* background-image: linear-gradient(to top,rgb(243, 233, 220),rgb(223, 156, 75),rgb(172, 139, 99),rgb(212, 184, 150)); */
  color: black;
  width: 75%;
  gap: 12px;
  border: 3px solid black;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(41, 41, 44, 0.527);
  margin: 20px auto 20px auto;
  
  
  font-family: 'Bree Serif', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form__post-header{
  grid-area: header;
  text-align: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-bottom: 4px solid black;
  border-radius: 10px 10px 0 0 ;
  font-family: Quicksand, Helvetica, sans-serif;
  background-color: rgb(38, 58, 124);
}
.form__post-user{
  grid-area: user;
  padding-right: 1rem;
  border: 1px solid black;

}
.form__post-token{
  grid-area: token;
  margin-right: 1rem;
  border: 1px solid black;


}
.form__post-user_desc{
  grid-area: user_desc;
  text-align: right;

}
.form__post-token_desc{
  grid-area: token_desc;
  text-align: right;

}
.form__post-title_desc{
  grid-area: title_desc;
  text-align: right;

}
.form__post-title{
  grid-area: title;
  text-align: right;
  border: 1px solid black;
}
.form__post-category_desc{
  grid-area: category_desc;
  text-align: right;

}
.form__post-category{
  grid-area: category;
  text-align: right;
  margin-right: 1rem;
  border: 1px solid black;


}
.form__post-text_desc{
  grid-area: text_desc;
  text-align: right;
}
.form__post-text{
  grid-area: text;
  padding: 12px 20px;
  height: 13rem;
  resize: none;
  margin-right: 1rem;
  border: 1px solid black;

}
.form__post-tags_desc{
  grid-area: tags_desc;
  text-align: right;
}
.form__post-tags{
  grid-area: tags;
  margin-right: .5rem;
  padding-bottom: 15px;
  
}
.form__post-tag{
  grid-area: tags;
  margin-left: 1rem;
  margin-right: .2rem;

}
