/* Reset Default Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Lora|Noto+Sans+TC|Open+Sans&display=swap');
/* 
font-family: 'Lora', serif;
font-family: 'Noto Sans TC', sans-serif;
font-family: 'Open Sans', sans-serif; 
*/

a {
  text-decoration: none;
}

/* Default 1ine-height to 20pixels  */
html {
  font: 20px/1 'Open Sans';
  min-height: 100vh;
  --navbar-background-color: rgba(13, 3, 102, 0.75);
  --navbar-text-color: white;
  --form-background-color: rgba(13, 3, 102, 0.75);
  --form-border-color: rgba(3, 60, 87, 0.9);
}
.main-navbar{
  display: flex;
  justify-items: space-around;
}

.main-navbar__link-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.main__post-container{
  display: grid;
  grid-template-areas:  
    'avatar title title title'
    'avatar post post post'
    'user post post post'
    'user post post post'
    'user date date date';
  grid-gap: 10px;
  background-color: lightblue;
  padding: 10px;
  border: 1.5px solid black;
}

.main__post-title{
  grid-area: title;
}
.main__post-avatar{
  grid-area: avatar;
  width: 80px;
  height: 80px;
}
.main__post-user{
  grid-area: user;
}


.wrapper {
  width: 80%;
  margin: 0 auto;
  min-width: 10rem;
  max-width: 55rem;
  min-height: 100vh;
}
