<h1>All Categories</h1>

{{#each categories}}
    
            <h3 class="main__user-name">
                <a href="/categories/{{id}}">{{name}}</a>
            </h3>
        
{{/each}}

<a href="/categories/new"><h2>Make a new Category!</h2></a>