<h2>Welcome to {{title}}</h2>
<h3>Posts:</h3>
{{!-- {{#each post}} --}}
<div class="main__post-container">
   <a href="#author"><img src="../../public/images/avatar_rick2.jpg" class="main__post-avatar" /></a>
    <p class="main__post-user"><a href="#author">RickFan778</a></p>
    <h3 class="main__post-header">Today was great!</h3>
</div>
{{!-- {{/each}} --}}