<!DOCTYPE html>
<html>
  <head>
    <title>Blog Website</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="wrapper">
      <nav class="main-navbar">
        <a href="/" class="main-navbar__link-logo"><img src="../images/blog_logo.ico"/></a>
        <div class="main-navbar__link-wrapper">
          <a class="main-navbar__link"><h2>Home</h2></a>
          <a class="main-navbar__link"><h2>Posts</h2></a>
          <a class="main-navbar__link"><h2>Users</h2></a>
          <a class="main-navbar__link"><h2>About</h2></a>
        </div>
      </nav>
        {{{body}}}
      <footer class="main-footer">
        Wilson Industries Inc &trade;
      </footer>
    </div>
  </body>
