<!DOCTYPE html>
<html>
  <head>
    <title>Blog Website</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <header>
    <h1>Blog Website 2019</h1>
  </header>
    <div class="wrapper">
      <nav class="main-navbar">
        <div class="main-navbar-logo">
          <a href="/"><img class="main-navbar-logo__image"/></a>
        </div>
        <div class="main-navbar__link-wrapper">
          <a class="main-navbar__link">About</a>
          <a class="main-navbar__link">Users</a>
          <a class="main-navbar__link">Home</a>
          <a class="main-navbar__link">Home</a>
        </div>
      </nav>
        {{{body}}}
      <footer class="main-footer">
        Wilson Industries Inc &trade;
      </footer>
    </div>
  </body>
