<h2>Work in Progress...</h2>

<form action="/posts" class="form__user-container">
    <label class="form__user-header">New User</label>
    <label class="form__user-name" name="name">Username: </label>
    <label class="form__user-token_desc">User Token:</label>
    <select class="form__user-user" name="user">
        <option value="{{user}}">RickFan922</option>
        <option value="{{user}}">RickFan922</option>
    </select>
    <input type="password" class="form__user-token" name="token">
    <label class="form__user-title_desc">Blog Title:</label>
    <input class="form__user-title" name="title">
    <label class="form__user-category_desc">Category:</label>
    <select class="form__user-category" name="category">
        <option value="{{category}}">Category</option>
    </select>
    <label class="form__user-text_desc">Blog Post:</label>
    <textarea class="form__user-text" name="text"></textarea>
    <label class="form__user-tags_desc">Tags:</label>
    

    <label class="form__user-submit-container"><button class="form__user-submit"><span>Submit</span></button></label>

</form>