<h2>Welcome!</h2>

<p class="main__newuser-title">Thanks for joining the crew, {{user.name}}!!</p>
<p class="main__newuser-password">Your password for this totally insecure site is:  {{user.token}}</p>
<p class="main__newuser-body">Click <a href="/users/{{user.id}}">here</a> to see your posts and other information!</p>