<h1>Single User</h1>

<a href="#Category"><div class="main__user-name-container">Outdoors</div></a>
<div class="main__user-container">
    <div class="main__user-header">
        <img class="main__user-avatar" src="{{avatarUrl}}"/>
        <h3 class="main__user-name">{{name}}</h3>
    </div>
    <h2>Post History</h2>
    {{#each posts}}
    <ul class="main__user-post-list">
        <li class="main__user-post-list__item">
            <a href="/posts/{{id}}">{{title}}</a>
        </li>
    </ul>
    {{/each}}

</div>